In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import acquire as a

Questions:
- Which lesson appears to attract the most traffic consistently across cohorts (per program)?
- What topics are grads continuing to reference after graduation and into their jobs (for each program)?
- Which lessons are least accessed?

In [3]:
df = a.obtain_curriculum()

In [4]:
df.head()

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [5]:
df.shape

(1018810, 8)

In [60]:
# omit home page access records
df = pd.DataFrame(df[df.endpoint != '/'])

In [62]:
# omit table of contents access records
df = pd.DataFrame(df[df.endpoint != 'toc'])

# Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [63]:
program_list = [1, 2, 3, 4]

In [64]:
for prog in program_list:
    program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nlargest(3)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         javascript-i    1144
            index.html      1011
            html-css         979
Name: endpoint, dtype: int64


program_id  endpoint
2.0         javascript-i                19280
            search/search_index.json    17012
            java-iii                    14153
Name: endpoint, dtype: int64


program_id  endpoint
3.0         search/search_index.json                    2950
            classification/overview                     2455
            classification/scale_features_or_not.svg    2302
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css                               2
            content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
Name: endpoint, dtype: int64

# What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [ ]:
# Make new column to see if they accessed after graduation
# Do a loc on the df to get those who have accessed after graduation
# Find topics

In [72]:
df['post-grad-access'] = df.index > df.end_date

In [78]:
df['post-grad-access'] = df['post-grad-access'].astype(int)

In [81]:
post_grad = df.loc[df['post-grad-access'] == 1]

In [82]:
post_grad.head()

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id,post-grad-access
date,,,,,,,,,
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,1
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,1
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,1
2018-01-26,javascript-i,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0,1
2018-01-26,javascript-i/functions,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0,1

In [83]:
for prog in program_list:
    program_df = pd.DataFrame(post_grad).groupby('program_id')['endpoint'].value_counts()
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nlargest(3)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         javascript-i    1144
            index.html      1011
            html-css         979
Name: endpoint, dtype: int64


program_id  endpoint
2.0         javascript-i                4870
            spring                      4342
            search/search_index.json    4065
Name: endpoint, dtype: int64


program_id  endpoint
3.0         search/search_index.json    649
            classification/overview     368
            sql/mysql-overview          343
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css                               2
            content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
Name: endpoint, dtype: int64

# Which lessons are least accessed?

In [70]:
for prog in program_list:
    program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
    program_df = program_df[program_df > 3]
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nsmallest(3)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         1._Fundamentals                  4
            5.0_Intro_Regression             4
            appendix/further-reading/java    4
Name: endpoint, dtype: int64


program_id  endpoint
2.0         1-fundamentals/1-intro-to-data-science    4
            10.2_Regex                                4
            10_Project                                4
Name: endpoint, dtype: int64


program_id  endpoint
3.0         1-fundamentals/2.3-visualization                         4
            1.3-pipeline-demo                                        4
            10-anomaly-detection/3-detecting-timeseries-anomalies    4
Name: endpoint, dtype: int64


Series([], Name: endpoint, dtype: int64)

In [ ]:
## Below is very rough exploration

In [16]:
df.cohort_id.sort_values().unique().tolist()

[1.0,
 2.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 31.0,
 32.0,
 33.0,
 34.0,
 51.0,
 52.0,
 53.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 61.0,
 62.0,
 132.0,
 133.0,
 134.0,
 135.0,
 137.0,
 138.0,
 139.0,
 165.0,
 166.0,
 nan]

In [18]:
len(df.cohort_id.sort_values().unique().tolist())

50

In [28]:
df[df.cohort_id == 1.0]

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-01-26,/,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
2018-01-26,javascript-i,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
2018-01-26,javascript-i/functions,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
2018-01-26,appendix/further-reading/javascript/hoisting.html,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
2018-01-26,appendix,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
...,...,...,...,...,...,...,...,...
2021-07-15,jquery/mapbox-api,997,1.0,72.181.37.25,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/mapbox-api,995,1.0,104.51.42.150,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/ajax/weather-map,995,1.0,104.51.42.150,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,toc,1002,1.0,73.6.69.124,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/mapbox-api,1002,1.0,73.6.69.124,Arches,2014-02-04,2014-04-22,1.0

In [25]:
df[df.cohort_id == 1.0].iloc[0]

endpoint                         /
user_id                         11
cohort_id                        1
source_ip             97.105.19.61
cohort_name                 Arches
start_date     2014-02-04 00:00:00
end_date       2014-04-22 00:00:00
program_id                       1
Name: 2018-01-26 00:00:00, dtype: object

In [37]:
for name in df.cohort_name.sort_values().unique().tolist():
    exec(f'{name}_df = df[df.cohort_name == name]')

In [6]:
df.endpoint.value_counts()

/                                                                 55544
search/search_index.json                                          22341
javascript-i                                                      21330
toc                                                               20543
html-css                                                          15334
                                                                  ...
hwfw                                                                  1
html-css/css-i/positioning/specimen/MaterialIcons-Regular.woff        1
javascript/apendix                                                    1
examples/twitter.html                                                 1
slidesexceptions_and_errorhandlings                                   1
Name: endpoint, Length: 2406, dtype: int64

In [32]:
df.cohort_name.sort_values().unique().tolist()

['Andromeda',
 'Apex',
 'Apollo',
 'Arches',
 'Badlands',
 'Bash',
 'Bayes',
 'Betelgeuse',
 'Ceres',
 'Curie',
 'Darden',
 'Deimos',
 'Denali',
 'Easley',
 'Europa',
 'Everglades',
 'Florence',
 'Fortuna',
 'Franklin',
 'Ganymede',
 'Glacier',
 'Hampton',
 'Hyperion',
 'Ike',
 'Joshua',
 'Jupiter',
 'Kalypso',
 'Kings',
 'Lassen',
 'Luna',
 'Mammoth',
 'Marco',
 'Neptune',
 'Niagara',
 'Oberon',
 'Olympic',
 'Pinnacles',
 'Quincy',
 'Sequoia',
 'Staff',
 'Teddy',
 'Ulysses',
 'Voyageurs',
 'Wrangell',
 'Xanadu',
 'Yosemite',
 'Zion',
 nan]

In [36]:
Zion_df.endpoint.value_counts()

/                             1814
toc                           1465
javascript-i                   912
java-iii                       753
search/search_index.json       700
                              ...
arash-arghavan                   1
2.02.01_Probability              1
3.4-basic-statements             1
javascript-ii/RESTful-api        1
2-stats/2.1-intro-to-excel       1
Name: endpoint, Length: 317, dtype: int64

Explore

In [41]:
df.program_id.value_counts()

2.0    791196
3.0    122002
1.0     41110
4.0         5
Name: program_id, dtype: int64

In [42]:
df[df.program_id == 2]

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
2018-01-26,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
2018-01-26,javascript-i/conditionals,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
2018-01-26,javascript-i/functions,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
2018-01-26,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,Oberon,2021-04-12,2021-10-01,2.0

In [46]:
ds = df[df.program_id == 3]

In [44]:
df[df.program_id == 1]

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,/,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,1.0
...,...,...,...,...,...,...,...,...
2021-07-15,jquery/mapbox-api,997,1.0,72.181.37.25,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/mapbox-api,995,1.0,104.51.42.150,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/ajax/weather-map,995,1.0,104.51.42.150,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,toc,1002,1.0,73.6.69.124,Arches,2014-02-04,2014-04-22,1.0
2021-07-15,jquery/mapbox-api,1002,1.0,73.6.69.124,Arches,2014-02-04,2014-04-22,1.0

In [45]:
df[df.program_id == 4]

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2018-03-22,/,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,4.0
2018-03-22,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,4.0
2018-03-22,content/html-css/gitbook/images/favicon.ico,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,4.0
2018-03-22,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,4.0
2018-03-22,content/html-css/introduction.html,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,4.0

In [47]:
ds.head()

,endpoint,user_id,cohort_id,source_ip,cohort_name,start_date,end_date,program_id
date,,,,,,,,
2019-08-20,/,466,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0
2019-08-20,/,467,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0
2019-08-20,/,468,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0
2019-08-20,/,469,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0
2019-08-20,/,470,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,3.0

In [48]:
ds.shape

(122002, 8)

In [58]:
ds_cohort = pd.DataFrame(ds[ds.endpoint != '/'])

In [59]:
ds_cohort.shape

(112136, 8)

In [49]:
program_list = [1, 2, 3, 4]

In [53]:
test_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

In [69]:
test_df[test_df > 3]

program_id  endpoint
1.0         /                                    1869
            javascript-i                         1144
            index.html                           1011
            html-css                              979
            javascript-i/javascript-with-html     832
                                                 ...
3.0         jquery                                  4
            refine                                  4
            regression/short_evaluation             4
            scale_features_or_not.svg               4
            timeseries/E2E_example                  4
Name: endpoint, Length: 2279, dtype: int64

In [54]:
test_df.loc[[1]]

program_id  endpoint
1.0         /                                    1869
            javascript-i                         1144
            index.html                           1011
            html-css                              979
            javascript-i/javascript-with-html     832
                                                 ...
            students                                1
            students/468/notes                      1
            students/units/75/sub_units/268         1
            teams/13                                1
            uploads/58a217a705bde.jpg               1
Name: endpoint, Length: 787, dtype: int64